@media (max-width:1440px) {}

@media (min-width: 1920px) {
    .reg_wrapper {
        margin: 0 auto;
    }
}

@media (max-width:1120px) {}

@media (max-width:996px) {}

@media (max-width:768px) {
    .nav {
        display: none;
        /* Скрываем меню по умолчанию */
        position: absolute;
        top: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        /* Высота шапки */
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
        height: 100vh;
    }
    .nav.active {
        display: block;
        /* Показываем меню при активации */
        animation: slideDown 0.3s ease forwards;
        /* Анимация появления */
    }
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .nav ol,
    .nav .header_right {
        flex-direction: column;
        gap: 20px;
    }
    .nav .header_right {
        margin-top: 20px;
    }
    .menu-toggle {
        display: flex;
        /* Показываем бургер-меню */
        z-index: 9999;
    }
    .menu-toggle.toggle .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
        position: absolute;
        /* Изменяем позицию первой полоски */
    }
    .menu-toggle.toggle .bar:nth-child(2) {
        opacity: 0;
        /* Скрываем среднюю полоску */
    }
    .menu-toggle.toggle .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 8px;
        position: absolute;
        /* Изменяем позицию третьей полоски */
    }
}

@media (max-width:440px) {
    header {
        padding: 25px 25px;
    }
    #about {
        padding: 124px 0 64px;
    }
    .about,
    .about_bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about_bottom_info {
        flex-direction: column;
        gap: 22px;
    }
    .num_box {
        flex-direction: row;
        gap: 22px;
        width: 100%;
        max-width: unset;
        align-items: center;
    }
    .num_box h2 span {
        display: none;
    }
    .num_box p {
        font-size: 16px;
    }
    .num_box p span {
        display: block;
    }
    h1 {
        font-size: 30px;
        line-height: 33.9px;
    }
    h4 {
        font-size: 20px;
        font-weight: 500;
        line-height: 22.6px;
    }
    .wrapper {
        padding: 0 40px;
    }
    .about_info {
        gap: 22px;
    }
    .about_img {
        width: 100%;
    }
    .about {
        gap: 30px;
    }
    .about_bottom {
        gap: 50px;
        margin-top: 33px;
    }
    .about_bottom a {
        width: 259px;
        font-size: 14px;
    }
    .br_none {
        display: none;
    }
    #chips {
        padding: 70px 0px;
    }
    h2 {
        font-size: 20px;
        line-height: 22.6px;
        margin-bottom: 34px;
    }
    .br_block {
        display: block;
    }
    h3 {
        font-size: 16px;
        line-height: 26px;
    }
    .chips_box {
        gap: 7px;
        min-height: 194px;
    }
    .chips_box {
        padding: 32px 20px;
    }
    .chips_box h3 {
        padding: 0 20px;
    }
    .chips_box p {
        font-size: 14px;
        line-height: 22px;
    }
    #reviews {
        padding: 70px 0;
    }
    .video-container {
        width: 100%;
        height: 384px;
        border-radius: 8px;
        overflow: hidden;
    }
    .video-container video {
        border-radius: 8px;
    }
    #reviews {
        padding: 70px 0 30px;
    }
    #you_get {
        padding: 70px 0 30px;
    }
    .you_get_box {
        width: 100%;
        min-height: 321px;
        padding: 20px 45px;
    }
    .you_get_box h3 {
        font-weight: 16px;
    }
    .you_get_box ol {
        margin-top: 15px;
    }
    .you_get_box ol li {
        font-size: 14px;
    }
    #tarif {
        padding: 70px 0;
    }
    .tarif {
        flex-direction: column;
        gap: 125px;
    }
    .tarif_box {
        padding: 35px 15px 0 15px;
        height: auto;
    }
    .tarif_box_info h3 {
        font-size: 20px;
    }
    .tarif_box_info ol li b {
        margin-bottom: 0;
    }
    .tarif_box_bottom a {
        font-size: 14px;
        width: 260px;
    }
    .tarif_box_bottom {
        bottom: -40px;
    }
    #free {
        padding: 50px 0;
    }
    .free {
        gap: 20px;
    }
    .free h2 {
        font-size: 20px;
    }
    .free a {
        width: 269px;
        font-size: 14px;
    }
    #faq {
        padding: 70px 0;
    }
    .accordion {
        width: 100%;
    }
    .accordion-header .toggle {
        width: 20px;
        min-width: 20px;
        max-width: 20px;
        height: 20px;
        min-height: 20px;
        max-height: 20px;
    }
    .accordion-header .toggle p {
        font-size: 14px;
    }
    .accordion-header span {
        font-size: 15px;
    }
    .accordion-content p {
        font-size: 15px;
    }
    #chosen {
        padding: 70px 0 80px;
    }
    .chosen {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .chosen_card {
        gap: 11px;
    }
    .free form {
        max-width: 269px;
    }
    #contact {
        padding: 70px 0;
    }
    .contact {
        flex-direction: column-reverse;
        align-items: start;
    }
    .contact_map {
        width: 100%;
        height: 290px;
    }
    .contact_info h6 a,
    h6 {
        font-size: 16px;
    }
    .soc {
        margin-top: 23px;
    }
    .footer,
    .footer_contact_info,
    .footer_link_info {
        flex-direction: column;
    }
    .footer_copy span {
        font-size: 16px;
    }
    .footer_contact_one {
        display: none;
    }
    .ft_contact_two {
        display: flex;
    }
    .footer_link_info {
        gap: 36px;
    }
    .footer_link a {
        font-size: 12px;
    }
    .footer_link h6 {
        font-size: 14px;
    }
    .footer_link {
        gap: 7px;
    }
    .footer_logo a img {
        width: 50px;
        height: 48px;
    }
    footer {
        padding: 50px 0;
    }
    .about_piple,
    .about_vision {
        flex-direction: column;
        align-items: center;
    }
    .about_piple_card img {
        width: 152px;
        height: 152px;
        margin-bottom: 21px;
    }
    #about_piple {
        padding: 110px 0 40px;
    }
    #about_piple h2 {
        margin-bottom: 60px;
    }
    .about_piple_card h4 {
        font-size: 22px;
    }
    .about_piple_card p {
        font-size: 14px;
    }
    .about_piple {
        gap: 44px;
    }
    #about_vision h2 {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .about_vision_card img {
        width: 60px;
        height: 60px;
    }
    .about_vision_card h4 {
        font-size: 20px;
    }
    .about_vision_card p {
        font-size: 16px;
    }
    #android_info h2,
    #ios_info h2 {
        flex-direction: column;
        font-size: 20px;
    }
    .android_info,
    #ios_info {
        font-size: 13px;
    }
    .ios_info h3 {
        font-size: 16px;
    }
    #ios_info form {
        gap: 20px;
        flex-direction: column;
        align-items: start;
    }
    .about_img img {
        width: 100%;
    }
    .api_allows_card p {
        font-size: 14px;
    }
    #api_allows h2 {
        margin-bottom: 40px;
    }
    .api_about_id {
        padding: 113px 0 40px;
    }
    #api_info {
        padding: 50px 0;
    }
    .reg {
        flex-direction: column;
    }
    .reg_img,
    .egov_qr img,
    .auth_img {
        width: 70%;
        margin: 0 auto;
        height: auto;
    }
    #reg .reg_wrapper {
        width: auto;
        margin: 0 auto;
    }
    .info_block_btn {
        flex-direction: column;
        gap: 15px;
    }
    .info_block_btn a {
        font-size: 14px;
    }
    #reg {
        padding: 120px 0 20px;
    }
    .reg_form h3 {
        font-size: 20px;
    }
    .reg_form p,
    .reg_form form p,
    .file-label,
    .reg_input label,
    .reg_btn {
        font-size: 14px;
    }
    .file_btn span,
    .reg_form form .href_ios {
        font-size: 11px;
    }
    .egov_timer_one {
        display: flex;
        margin-bottom: 10px;
    }
    .egov_timer_two {
        display: none;
    }
}

@media (max-width:320px) {}