    @media (max-width:1440px) {}
    
    @media (min-width: 1920px) {
        .reg_wrapper {
            margin: 0 auto;
        }
    }
    
    @media (max-width:1120px) {}
    
    @media (max-width:1280px) {
        .my_tarif_info {
            flex-direction: column;
            align-items: start;
        }
    }
    
    @media (max-width:996px) {}
    
    @media (max-width:768px) {
        .signer_list {
            width: 100%;
            max-width: 400px;
        }
        .form_support {
            flex-direction: column-reverse;
        }
        .support_form,
        .note_section {
            width: 100%;
        }
        .input_checkbox_qr p {
            line-height: 130%;
        }
        .modul_link_free {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        #modul h2 {
            font-size: 20px !important;
        }
        .modul_link_free h2 {
            font-size: 16px;
        }
        .modul_video_box .video_youtube {
            max-width: 313px;
            width: 100%;
            height: 174px;
        }
        .modul_video_cont {
            flex-wrap: wrap;
        }
        .preview_btn {
            flex-wrap: wrap;
        }
        .preview_btn a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 113%;
            /* or 16px */
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 100%;
        }
        #preview {
            padding: 90px 0 0;
        }
        .massage_box {
            padding: 30px 20px;
        }
        .nav {
            display: none;
            /* Скрываем меню по умолчанию */
            position: absolute !important;
            top: 0;
            padding-top: 60px;
            padding-bottom: 60px;
            /* Высота шапки */
            left: 0;
            right: 0;
            background-color: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1;
            height: 100vh;
        }
        .nav.active {
            display: block;
            /* Показываем меню при активации */
            animation: slideDown 0.3s ease forwards;
            /* Анимация появления */
        }
        @keyframes slideDown {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .nav ol,
        .nav .header_right {
            flex-direction: column;
            gap: 20px;
        }
        .nav .header_right {
            margin-top: 20px;
        }
        .menu-toggle {
            display: flex;
            /* Показываем бургер-меню */
            z-index: 9999;
        }
        .menu-toggle.toggle .bar:nth-child(1) {
            transform: rotate(45deg);
            top: 8px;
            position: absolute;
            /* Изменяем позицию первой полоски */
        }
        .menu-toggle.toggle .bar:nth-child(2) {
            opacity: 0;
            /* Скрываем среднюю полоску */
        }
        .menu-toggle.toggle .bar:nth-child(3) {
            transform: rotate(-45deg);
            top: 8px;
            position: absolute;
            /* Изменяем позицию третьей полоски */
        }
        .lk_header_form {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
        }
        .lk_header_form input {
            width: 100%;
            max-width: 90%;
        }
        .lk_dropdown {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
            position: relative;
        }
        .dropdown_box {
            right: 30px !important;
        }
        .sidebar_mobile {
            display: flex !important;
        }
        .sidebar {
            display: none !important;
        }
        .lk_wrapper {
            padding: 0;
        }
        .view_document_sidebar {
            max-width: unset;
        }
        .container {
            border: none;
        }
        .lk_wrapper h1 {
            font-size: 20px;
            line-height: 130%;
        }
        .lk_content .wrapper {
            padding: 0 25px;
        }
        .lk_title p {
            font-size: 14px;
        }
        header .wrapper {
            padding: 0;
        }
        .account_lk_info h2 {
            font-size: 16px;
        }
        .acc_info_flex {
            flex-direction: column;
            align-items: start;
            text-align: start;
        }
        .acc_info_flex h3 {
            display: flex;
            align-items: start !important;
            text-align: start;
            justify-content: center;
            justify-content: start;
        }
        .acc_info_box p {
            text-align: sta;
            margin-top: -5px;
            max-width: unset;
        }
        .acc_info_box {
            padding: 10px 15px;
            gap: 15px;
        }
        .help_info h4 {
            font-size: 16px;
            display: flex;
            flex-direction: column;
        }
        .acc_info_btn {
            flex-direction: column;
            gap: 20px;
        }
        .acc_info_btn a {
            height: 43px;
            font-size: 14px;
        }
        .lk_wrapper p {
            font-size: 14px;
        }
        .view_document_flex {
            flex-direction: column-reverse;
        }
        .document_view {
            width: 100%;
            min-height: 400px;
            height: 100%;
        }
        .ready_templates a {
            width: auto;
            text-decoration: underline;
            font-size: 16px;
        }
        .ready_templates a br {
            display: none;
        }
        .ready_templates {
            flex-direction: column;
            gap: 15px;
            margin-bottom: 40px;
        }
        .create_templates_input button {
            height: 43px;
            width: 100%;
        }
        .create_templates_input input {
            height: 43px;
            width: 30%;
            font-size: 14px;
        }
        .ready_content p a {
            font-size: 14px;
        }
        .ready_content h2 {
            font-size: 20px;
        }
        .delete_document_info_box span,
        .delete_document_info_box a,
        .voting_templates_form label,
        .link_my_templates,
        .search_input label,
        .input_box label,
        .create_new_templates label {
            font-size: 14px;
        }
        .created_templates h2 {
            font-size: 16px;
        }
        .delete_btns {
            flex-direction: column;
        }
        .delete_btns button,
        .next_btn,
        .external_signatory_form input,
        .created_templates_button button,
        .search_input input,
        .search_form button,
        .signing_doc_flex_two button,
        .push_info_btn button,
        .push_info_btn a,
        .lk_upl_form_btn button,
        .about.input_box input,
        .voting_list_flex_btn a,
        .voting_list_flex_btn button,
        .email_binding_form button,
        .input_box_email input,
        .export_data_flex input,
        .export_btn,
        .sms_module_three_btn,
        .sms_document_btn,
        .create_btn,
        .upload-button,
        .next_blue_btn,
        .view_create_new_btn button,
        .template_introduction_btn a,
        .input_box_tarif_form_btn_flex button,
        .agreemetn_lk_flex button,
        .agreemetn_lk_flex_tarif a {
            font-size: 14px;
            height: 43px;
            width: 100%;
            max-width: unset;
            min-height: unset;
        }
        .top_form_left {
            width: 100%;
        }
        .delete_btns button:nth-child(2) {
            max-width: unset;
        }
        .created_templates {
            padding: 15px 10px;
        }
        .created_templates_button {
            margin-top: 20px;
            gap: 15px;
        }
        .my_c_t_name {
            margin-bottom: 10px !important;
        }
        .ready_flex {
            justify-content: center;
        }
        .ready_flex a {
            width: 100%;
        }
        .period {
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
        .search_input input {
            width: 100%;
        }
        .signing_doc_flex {
            flex-direction: column;
            gap: 10px;
            align-items: start;
        }
        .info_acc_signing h3,
        .keys_api_info span,
        .keys_api_sert span {
            font-size: 14px;
        }
        .keys_api_info span,
        .keys_api_sert span {
            word-break: break-all;
        }
        .signing_document_info_box {
            margin-bottom: 30px;
        }
        .signing_qr img {
            width: 100%;
        }
        .signing_flex {
            flex-direction: column;
            gap: 20px;
        }
        .signing_qr_cont h3 {
            font-size: 16px;
        }
        .lk_uploading_flex {
            flex-direction: column;
        }
        .top_form {
            flex-direction: column;
            gap: 15px;
        }
        .lk_uploading_form {
            padding: 15px 10px;
        }
        .lk_upl_form_title {
            flex-direction: column;
            gap: 15px;
            align-items: start;
        }
        .push_info h2 {
            font-size: 18px;
        }
        .push_info_btn,
        .lk_upl_form_btn {
            flex-direction: column;
            gap: 15px;
            width: 100%;
            margin-top: 20px;
        }
        .form-group {
            flex-direction: column;
        }
        .form-group label {
            width: 100%;
            min-width: unset;
            font-size: 14px;
        }
        .form_align {
            align-items: start;
            /* gap: 15px; */
        }
        .voting_list_flex_btn {
            flex-direction: column;
        }
        .date_voting_flex,
        .input_box_email {
            flex-direction: column;
            align-items: start;
        }
        .ready_templates_settings {
            align-items: start;
        }
        .cabinet_access_info {
            flex-direction: column;
        }
        .company_employees_table td,
        .company_employees_table tr {
            font-size: 12px;
        }
        .lk_title_settings h2 {
            font-size: 20px;
        }
        .lk_title_settings p a {
            font-size: 14px;
        }
        .input_box_email {
            gap: 15px;
        }
        .input_box_email .error_info,
        .email_binding_form label {
            font-size: 14px;
        }
        .export_data_flex {
            flex-direction: column;
        }
        .sms_document_flex {
            flex-direction: column;
        }
        .lk_title_settings ul li p {
            font-size: 14px;
        }
        .lk_title_settings ul li p span {
            font-size: 14px;
        }
        header {
            padding: 25px 25px;
        }
        .delete_my_templates_flex {
            align-items: center;
            justify-content: center;
        }
        .create_new_templates_box_check {
            flex-direction: column;
            align-items: start;
        }
        .upload-container {
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }
        .upload-button {
            margin: 0;
        }
        .create_new_templates input::placeholder {
            font-size: 14px;
        }
        .create_new_templates_gap {
            padding: 20px 15px;
        }
        .view_create_info {
            flex-direction: column;
            gap: 10px;
        }
        .view_create_info_p,
        .view_create_info_print {
            width: 100%;
            padding: 0;
        }
        .view_create_new_btn {
            flex-direction: column;
            gap: 10px;
        }
        .doc_view_template {
            height: 500px;
        }
        .template_introduction_btn {
            flex-direction: column;
            gap: 20px;
            margin: 0;
        }
        .contract_lk_info h2 {
            font-size: 16px;
            word-break: unset;
            padding-bottom: 10px;
        }
        .contract_lk_info h2 span {
            font-size: 16px;
        }
        .tarif_title {
            flex-direction: column;
            gap: 0;
            align-items: start;
        }
        .tarif_form select {
            width: 100%;
        }
        .tarif_form_input_content {
            flex-direction: column;
            gap: 15px;
        }
        .acc_info_box_view {
            flex-direction: column;
            align-items: start;
        }
        .acc_info_box_view .acc_info_flex,
        .acc_info_box_view .acc_info_flex h3 {
            align-items: start;
            text-align: start;
            width: auto;
        }
        .input_box_tarif_form_btn_flex {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
        }
        .input_box_tarif_form_btn_flex button {
            margin: 0;
        }
        .view_sidebar_cont {
            min-width: unset;
            width: 100%;
        }
        .agreemetn_lk_flex {
            flex-direction: column;
            gap: 15px;
        }
        .tarif_link_dop {
            font-size: 14px;
        }
        .link_tarif {
            flex-direction: column;
            font-size: 14px;
        }
        .acc_info_box_tarif_box {
            padding: 0;
            align-items: start;
        }
        .acc_info_box_tarif_box .acc_info_flex {
            align-items: start;
        }
        .acc_info_box_tarif_box .acc_info_flex h3 {
            width: auto;
        }
        .my_tarif_info {
            flex-direction: column;
            align-items: start;
        }
        .my_tarif_link {
            font-size: 14px;
        }
        .lk_header nav {
            margin-left: 0;
        }
        .package-table {
            display: none;
        }
        .tarif_price {
            overflow: visible;
            padding: 0 30px;
        }
        .mobile_tarif_box {
            width: 100%;
            border: 1px solid #235DCF;
            border-radius: 8px;
            padding: 35px 15px 60px;
            max-width: 320px;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
        }
        .mobile_tarif {
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
        #tarif_price h1 {
            margin-bottom: 30px;
        }
        .mobile_tarif_head {
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .mobile_tarif_head h2 {
            margin: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 162%;
            text-transform: uppercase;
            /* or 32px */
            color: #235DCF;
            margin-bottom: 6px;
        }
        .mobile_tarif_head p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 113%;
            /* identical to box height, or 17px */
            text-align: center;
            color: #4F4F4F;
            margin-bottom: 25px;
        }
        .mobile_tarif_head span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 198%;
            /* identical to box height, or 28px */
            text-align: center;
            color: #4F4F4F;
        }
        .mobile_tarif_content {
            padding: 10px 0;
        }
        .mobile_tarif_content ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 20px;
        }
        .mobile_tarif_content ul li p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 138%;
            /* or 26px */
            color: #4F4F4F;
        }
        .mobile_tarif_content ul li {
            position: relative;
            display: flex;
            align-items: center;
        }
        .mobile_tarif_content ul li::before {
            width: 9px;
            height: 9px;
            background: #235DCF;
            border-radius: 50px;
            content: ' ';
            position: absolute;
            left: -20px;
        }
        .mobile_tarif_footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 30px;
        }
        .mobile_tarif_footer .price_m {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 113%;
            /* or 27px */
            text-align: center;
            color: #4F4F4F;
        }
        .mobile_tarif_footer_cont {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin-top: 30px;
        }
        .no_price {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 113%;
            /* or 27px */
            text-align: center;
            text-decoration-line: line-through;
            color: #4F4F4F;
        }
        .active_price {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 113%;
            /* or 45px */
            text-align: center;
            color: #4F4F4F;
        }
        .comment_tarif_ft p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            /* or 31px */
            color: #4F4F4F;
        }
        .comment_tarif_ft p b {
            color: #FF0707;
        }
        .mob_t_btn {
            background: #FF626C;
            border-radius: 8px;
            width: 100%;
            max-width: 259px;
            height: 63px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 113%;
            /* identical to box height, or 16px */
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            position: absolute;
            bottom: -30px;
            z-index: 999;
        }
        .red_border {
            border-color: #FF626C !important;
        }
        .action_box {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 113%;
            /* identical to box height, or 18px */
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-6.2deg);
            width: 282px;
            height: 55px;
            background: #9962FF;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -34px;
            left: -30px;
        }
        .action_box_two {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 113%;
            /* identical to box height, or 18px */
            text-align: center;
            text-transform: uppercase;
            color: #4C14CE;
            position: absolute;
            width: 282px;
            height: 55px;
            background: #FFFFFF;
            border: 2px solid #8262FF;
            border-radius: 12px;
            transform: rotate(-6.2deg);
            top: -34px;
            left: -30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .lk_filter .filter_btn,
        .labels_btn {
            text-align: start;
            color: #235DCF;
        }
        .lk_filter .filter_btn svg path,
        .labels_btn svg path {
            fill: #235DCF;
            /* Неактивное состояние иконки */
            transition: fill 0.3s ease-in-out;
        }
        .lk_filter {
            gap: 20px;
            align-items: start;
            margin-top: 30px;
        }
        .labels_checkbox {
            left: 0;
            top: 75px;
        }
        .labels_input_content {
            left: 0;
            top: 0;
        }
        .labels_input_flex {
            flex-wrap: wrap;
            align-items: start;
        }
        .my_table_top,
        .my_table_top_flex {
            flex-direction: column;
            align-items: start;
            gap: 15px;
        }
        .my_table_top_flex button {
            max-width: 197px;
            width: 100%;
        }
        .my_table_top .select_input {
            display: none;
        }
        .my_table_line .select_input {
            display: flex;
            align-items: center;
            gap: 5px;
            flex-direction: row;
        }
        .my_table_line {
            flex-wrap: wrap;
            margin: 0;
            padding: 20px 10px;
            gap: 20px;
            justify-content: space-between;
        }
        .my_table_content .my_table_line {
            background: rgba(35, 93, 207, 0.21);
        }
        .my_table_content .my_table_line:nth-child(even) {
            background: rgba(255, 98, 108, 0.24);
        }
        .my_table_line .select_input label {
            display: flex;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 113%;
            /* identical to box height, or 14px */
            color: #4F4F4F;
        }
        .my_table_line * {
            font-size: 12px !important;
        }
        .my_table_line_info {
            margin: 0;
            gap: 10px;
        }
        .document_indo_table {
            gap: 30px;
        }
        .table_line_process a svg {
            height: 14px !important;
            width: 14px !important;
        }
        .table_line_process button svg {
            width: 14px !important;
        }
        .flex_error_btn {
            flex-direction: column;
            gap: 20px;
        }
        .modal_my .popup_time_error {
            padding: 60px 20px;
        }
        .tarif_comfort {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .tarif_comfort select {
            font-size: 12px;
        }
        .new_flex {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .acc_info_flex {
            gap: 5px;
        }
        .wrapper {
            padding: 0 20px;
        }
    }
    
    @media (max-width:440px) {
        .lk_content h2 {
            margin: 0;
        }
        .size_qr {
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }
        header {
            padding: 25px 25px;
        }
        #about {
            padding: 124px 0 64px;
        }
        .about,
        .about_bottom {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .about_bottom_info {
            flex-direction: column;
            gap: 22px;
        }
        .num_box {
            flex-direction: row;
            gap: 22px;
            width: 100%;
            max-width: unset;
            align-items: center;
        }
        .num_box h2 span {
            display: none;
        }
        .num_box p {
            font-size: 16px;
        }
        .num_box p span {
            display: block;
        }
        h1 {
            font-size: 30px;
            line-height: 33.9px;
        }
        h4 {
            font-size: 20px;
            font-weight: 500;
            line-height: 22.6px;
        }
        .wrapper {
            padding: 0 20px;
        }
        .about_info {
            gap: 22px;
        }
        .about_img {
            width: 100%;
        }
        .about {
            gap: 30px;
        }
        .about_bottom {
            gap: 50px;
            margin-top: 33px;
        }
        .about_bottom a {
            width: 259px;
            font-size: 14px;
        }
        .br_none {
            display: none;
        }
        #chips {
            padding: 70px 0px;
        }
        h2 {
            font-size: 20px;
            line-height: 22.6px;
            margin-bottom: 34px;
        }
        .br_block {
            display: block;
        }
        h3 {
            font-size: 16px;
            line-height: 20px;
        }
        .chips_box {
            gap: 7px;
            min-height: 194px;
        }
        .chips_box {
            padding: 32px 20px;
        }
        .chips_box h3 {
            padding: 0 20px;
        }
        .chips_box p {
            font-size: 14px;
            line-height: 22px;
        }
        #reviews {
            padding: 70px 0;
        }
        .video-container {
            width: 100%;
            height: 384px;
            border-radius: 8px;
            overflow: hidden;
        }
        .video-container video {
            border-radius: 8px;
        }
        #reviews {
            padding: 70px 0 30px;
        }
        #you_get {
            padding: 70px 0 30px;
        }
        .you_get_box {
            width: 100%;
            min-height: 321px;
            padding: 20px 45px;
        }
        .you_get_box h3 {
            font-weight: 16px;
        }
        .you_get_box ol {
            margin-top: 15px;
        }
        .you_get_box ol li {
            font-size: 14px;
        }
        #tarif {
            padding: 70px 0;
        }
        .tarif {
            flex-direction: column;
            gap: 125px;
        }
        .tarif_box {
            padding: 35px 15px 0 15px;
            height: auto;
        }
        .tarif_box_info h3 {
            font-size: 20px;
        }
        .tarif_box_info ol li b {
            margin-bottom: 0;
        }
        .tarif_box_bottom a {
            font-size: 14px;
            width: 260px;
        }
        .tarif_box_bottom {
            bottom: -40px;
        }
        #free {
            padding: 50px 0;
        }
        .free {
            gap: 20px;
        }
        .free h2 {
            font-size: 20px;
        }
        .free a {
            width: 269px;
            font-size: 14px;
        }
        #faq {
            padding: 70px 0;
        }
        .accordion {
            width: 100%;
        }
        .accordion-header .toggle {
            width: 20px;
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            min-height: 20px;
            max-height: 20px;
        }
        .accordion-header .toggle p {
            font-size: 14px;
        }
        .accordion-header span {
            font-size: 15px;
        }
        .accordion-content p {
            font-size: 15px;
        }
        #chosen {
            padding: 70px 0 80px;
        }
        .chosen {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
        .chosen_card {
            gap: 11px;
        }
        .free form {
            max-width: 269px;
        }
        #contact {
            padding: 70px 0;
        }
        .contact {
            flex-direction: column-reverse;
            align-items: start;
        }
        .contact_map {
            width: 100%;
            height: 290px;
        }
        .contact_info h6 a,
        h6 {
            font-size: 16px;
        }
        .soc {
            margin-top: 23px;
        }
        .footer,
        .footer_contact_info,
        .footer_link_info {
            flex-direction: column;
        }
        .footer_copy span {
            font-size: 16px;
        }
        .footer_contact_one {
            display: none;
        }
        .ft_contact_two {
            display: flex;
        }
        .footer_link_info {
            gap: 36px;
        }
        .footer_link a {
            font-size: 12px;
        }
        .footer_link h6 {
            font-size: 14px;
        }
        .footer_link {
            gap: 7px;
        }
        .footer_logo a img {
            width: 50px;
            height: 48px;
        }
        footer {
            padding: 50px 0;
        }
        .about_piple,
        .about_vision {
            flex-direction: column;
            align-items: center;
        }
        .about_piple_card img {
            width: 152px;
            height: 152px;
            margin-bottom: 21px;
        }
        #about_piple {
            padding: 110px 0 40px;
        }
        #about_piple h2 {
            margin-bottom: 60px;
        }
        .about_piple_card h4 {
            font-size: 22px;
        }
        .about_piple_card p {
            font-size: 14px;
        }
        .about_piple {
            gap: 44px;
        }
        #about_vision h2 {
            font-size: 24px;
            margin-bottom: 40px;
        }
        .about_vision_card img {
            width: 60px;
            height: 60px;
        }
        .about_vision_card h4 {
            font-size: 20px;
        }
        .about_vision_card p {
            font-size: 16px;
        }
        #android_info h2,
        #ios_info h2 {
            flex-direction: column;
            font-size: 20px;
        }
        .android_info,
        #ios_info {
            font-size: 13px;
        }
        .ios_info h3 {
            font-size: 16px;
        }
        #ios_info form {
            gap: 20px;
            flex-direction: column;
            align-items: start;
        }
        .about_img img {
            width: 100%;
        }
        .api_allows_card p {
            font-size: 14px;
        }
        #api_allows h2 {
            margin-bottom: 40px;
        }
        .api_about_id {
            padding: 113px 0 40px;
        }
        #api_info {
            padding: 50px 0;
        }
        .reg {
            flex-direction: column;
            align-items: center;
        }
        .reg_img,
        .egov_qr img,
        .auth_img {
            width: 70%;
            margin: 0 auto;
            height: auto;
        }
        #reg .reg_wrapper {
            width: auto;
            margin: 0 auto;
        }
        .info_block_btn {
            flex-direction: column;
            gap: 15px;
        }
        .info_block_btn a {
            font-size: 14px;
        }
        #reg {
            padding: 120px 0 20px;
        }
        .reg_form h3 {
            font-size: 20px;
        }
        .reg_form p,
        .reg_form form p,
        .file-label,
        .reg_input label,
        .reg_btn {
            font-size: 14px;
        }
        .file_btn span,
        .reg_form form .href_ios {
            font-size: 11px;
        }
        .egov_timer_one {
            display: flex;
            margin-bottom: 10px;
        }
        .egov_timer_two {
            display: none;
        }
        .modal {
            padding: 20px;
        }
        .error_info,
        .round_info {
            font-size: 20px;
        }
        .password .reg_form form .reg_btn {
            width: 100%;
            max-width: unset;
        }
    }
    
    @media (max-width:320px) {}